<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Bootstrap Example</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/upload.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">About</a>
		<a href="#">Gallery</a>
		<a href="#">Inspiration</a>
		<a href="#">Contact</a>
	</div>
	<span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;</span>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>



	<div class="container">
		<form action="/uploadartwork" method="post" enctype="multipart/form-data">


			<h1>Upload ArtWork</h1>

			<div th:if="${Message != null}" class="alert alert-success" th:text="${Message}" role="alert"></div>


			<div class="form-group">
				<label for="exampleInputEmail1">Name*:</label> <input type="text"
					class="form-control" name="artworkNameInput" required
					aria-describedby="emailHelp" placeholder="Enter name">

			</div>
				<div class="form-group">
					<label for="pageSelectInput">Select page:</label>
					<select class="form-control" id="pageSelectInput">
                        <option>gallery</option>
                        <option>home</option>
                    </select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlFile1">ArtWork to Upload*:</label> <input
					type="file" class="form-control-file" name="artworkfile" required>
			</div>
					<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>


</body>

</html>